<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>918854402198-3eb58i1ethh75pjdottj3vs623stt0kb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.918854402198-3eb58i1ethh75pjdottj3vs623stt0kb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>918854402198-7q7gsmle75p0c18olu2v2bq3ffr49d5m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDRB55UsqbP-yyw0CbRefISq286wRj8mDM</string>
	<key>GCM_SENDER_ID</key>
	<string>918854402198</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.timugo.timugo</string>
	<key>PROJECT_ID</key>
	<string>timugoclientapp</string>
	<key>STORAGE_BUCKET</key>
	<string>timugoclientapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:918854402198:ios:c79878aadf24bbfaa9c2b7</string>
	<key>DATABASE_URL</key>
	<string>https://timugoclientapp.firebaseio.com</string>
</dict>
</plist>